.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 35px;
    height: 35px;
}

.logo span {
    font-size: 24px;
    padding-left: 5px;
}

.footer {
    text-align: center;
}

.register {
    float: right !important;
}

.register a {
    display: inline-block !important;
}

.container {
    padding-top: 10px;
}

.leftContainer {
    width: 400px;
    float: left;
}

.carousel {
    width: 400px;
}

.topNewsList {
    float: left;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
}

.topNewsList a {
    line-height: 22px !important;
    color: #666 !important;
}

.tabs_news {
    padding-left: 10px;
    width: 480px;
    float: left;
}

.tabs_news li {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    width: 417px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}