.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 35px;
    height: 35px;
}

.logo span {
    font-size: 24px;
    padding-left: 5px;
}

.footer {
    text-align: center;
}

.register {
    float: right !important;
}

.register a {
    display: inline-block !important;
}

.container {
    padding-top: 10px;
}

.leftContainer {
    width: 400px;
    float: left;
}

.carousel {
    width: 400px;
}

.topNewsList {
    float: left;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
}

.topNewsList a {
    line-height: 22px !important;
    color: #666 !important;
}

.tabs_news {
    padding-left: 10px;
    width: 480px;
    float: left;
}

.tabs_news li {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    width: 417px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.imageblock {
    float: left;
    padding-left: 4px;
}

.topNewsList {
    float: left;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
}

.bottom-list .topNewsList {
    width: 100%;
}

.bottom-list .topNewsList .imageblock {
    padding-left: 15px;
}

.area-sub {
    padding-left: 20px;
}

.productlinks {
    width: 298px;
    height: 380px;
    margin-top: 6px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.productlinks-item {
    text-align: left;
    float: left;
    width: 355px;
    position: relative;
    z-index: 1;
    padding: 13px 0 13px 10px;
    line-height: 25px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.productlinks-i {
    text-indent: -10em;
}

.productlinks-item strong {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;
    margin-top: -20px;
    overflow: hidden;
    width: 40px;
    height: 40px;
}

.productlinks-item a {
    padding: 0 4px 0 0;
    white-space: nowrap;
}

.productlinks-item .last, .productlinks-item .pr0 {
    padding: 0;
}

.productlinks-item .pr2 {
    padding-right: 2px;
}

.changeview .productlinks-item {
    padding: 4px 0 3px 50px;
}

.changeview .productlinks {
    height: 300px;
    margin-top: 56px;
}

.item-mail, .item-sns {
    background: #fff;
}

.productlinks-i-mail, .productlinks-i-game, .productlinks-i-sns, .productlinks-i-recommend {
    width: 40px;
    height: 40px;
    text-indent: -10em;
    position: absolute;
    z-index: 3;
}

.productlinks-i-mail {
    background-position: 12px -167px;
}

.productlinks-i-game {
    background-position: 7px -217px;
}

.productlinks-i-sns {
    background-position: 12px -262px;
}

.productlinks-i-recommend {
    background-position: 12px -308px;
}

.ntes-nav-select-unfold .productlinks-mail-fold {
    display: block;
}

.productlinks-mail-fold {
    position: absolute;
    z-index: 100;
    width: 118px;
    height: 154px;
    top: -163px;
    left: -36px;
    display: none;
    background: url(http://img2.cache.netease.com/www/v2013/img/bg_fmail_v3.png) left top no-repeat;
}

.productlinks-mail-warp {
    position: relative;
    z-index: 100;
    background: none;
}

.productlinks-fold-163, .productlinks-fold-126, .productlinks-fold-yeah, .productlinks-fold-mob {
    float: left;
    display: inline;
    width: 116px;
    height: 34px;
    text-indent: -100em;
    overflow: hidden;
    margin-left: 1px;
    margin-bottom: 1px;
}

.productlinks-fold-163 {
    margin-top: 1px;
}